<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stemwijzer</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Stemwijzer - 2022</a>
            </div>
        </nav>
    </header>
    
        <main role="main" class="pb-3">

            @RenderBody()

        </main>
    

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Stemwijzer - Dirk Hoogland 
            @{
                var date = DateTime.Now.DayOfWeek;
                var min = DateTime.Now;
             }
             - @date @min
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
