@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class = "textmid">
        <h1>StemWijzer 2022</h1>
        <h2>Bekijk uw keuze in een paar vragen</h2>
        
         <p class = "Textbody" id = "Uitleg" >Op wie moet ik stemmen voor de Tweede Kamer verkiezingen?</p>

         <button  class = "Button-Start" id = "ButtonStart" onclick = "start()" >Start</button>
         
         <p class = "Textbody" id = "Statement"></p>

         <p class = "Textbody" id = "Vraag">Als u klaar bent om de vragen te beantwoorden druk op de start knop.</p>

         <p class = "Textbody" id = "Partij"></p>


 @*    div for buttons to be made visible once the start button is pressed*@ 
             <div class = "ButtonsDiv" id = "ButtonsDiv">
 
                  <button type = "button" class = "Buttons"  value = "Pro" onclick= "Antwoord('pro') " id = "pro">Pro</button>

                  <button type = "button" class = "Buttons"  value = "Contra" onclick="Antwoord('contra')" id = "contra">Contra</button>

                  <button type = "button" class = "Buttons"  value = "-" onclick="Antwoord('geenmening')" id = "geen">geen mening</button>

                  <button type = "button" class="Buttons" onclick="terug()">Terug</button>

            </div>

            <div id = "extrapunten">
               <button type = "button" class="Buttons" onclick="result()">Extra punten</button>
            </div>
            <div id="UitslagDivbutton">
                <button type = "button" class="Buttons" onclick="uitslag('Normal')">Uitslag</button>

                <button type = "button" class="Buttons" onclick="uitslag('Groot')">grote partijen</button>

                <button type = "button" class="Buttons" onclick="uitslag('secular')">secular</button>
            </div>

            <div id="UitslagDiv">
                <div id="inhoud">



                </div>

            </div>
    </div>


