@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container-home">

    <div class = "textmid">
    <h1>StemWijzer 2022</h1>
    <h2>Bekijk uw keuze in een paar vragen</h2>
    
    <p class = "Textbody" >Op wie moet jij stemmen voor de Tweede Kamer verkiezingen?</p>
    <button class = "Button-Start" id = "ButtonStart">Start</button>

    <p class = "textbody2">Als u klaar bent om de vragen te beantwoorden druk op de start knop.</p>
    </div>
</div>

