@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class = "textmid">
        <h1>StemWijzer 2022</h1>
        <h2>Bekijk uw keuze in een paar vragen</h2>
        
         <p class = "Textbody" id = "Uitleg" >Op wie moet ik stemmen voor de Tweede Kamer verkiezingen?</p>

         <button  class = "Button-Start" id = "ButtonStart" onclick = "start()" >Start</button>
         
         <p class = "Textbody" id = "Statement"></p>

         <p class = "Textbody" id = "Vraag">Als u klaar bent om de vragen te beantwoorden druk op de start knop.</p>

         <p class = "Textbody" id = "Partij"></p>


 @*    div for buttons to be made visible once the start button is pressed*@ 
             <div class = "ButtonsDiv" id = "ButtonsDiv">
 
                  <button type = "button" class = "Buttons"  value = "Pro" onclick= "Antwoord('pro') ">Pro</button>

                  <button type = "button" class = "Buttons"  value = "Contra" onclick="Antwoord('contra')">Contra</button>

                  <button type = "button" class = "Buttons"  value = "-" onclick="Antwoord('geenmening')">geen mening</button>

                  <button type = "button" class="Buttons" onclick="terug()">Terug</button>
                  
                  @*<button type = "button"class = "Buttons"  onclick = "uitleggen()"  >meningen</button>*@

                  
               @* Party standpoints, made visible once started and show when pressed 'Meningen'*@   
            </div>
@*                <div class = "mening" id = "meningen" >

                 </div>*@
    </div>


