@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class = "textmid">
        <h1>StemWijzer 2022</h1>
        <h2>Bekijk uw keuze in een paar vragen</h2>
        
         <p class = "Textbody" id = "Uitleg" >Op wie moet ik stemmen voor de Tweede Kamer verkiezingen?</p>

         <button  class = "Button-Start" id = "ButtonStart" onclick = "startvragenjs()" >Start</button>
         
         <p class = "Textbody" id = "Statement"></p>

         <p class = "Textbody" id = "Vraag">Als u klaar bent om de vragen te beantwoorden druk op de start knop.</p>

         <p class = "Textbody" id = "Partij"></p>


 @*    div for buttons to be made visible once the start button is pressed*@ 
            <form method = "post"   >
             <div class = "ButtonsDiv" id = "ButtonsDiv">
                  <label>pro</label>
                  <input type = "radio" class = "Buttons"  value = "Pro" name = "SubmitButton">
                  <label>contra</label>
                  <input type = "radio" class = "Buttons"  value = "Contra" name = "SubmitButton">
                  <label>geen mening</label>
                  <input type = "radio" class = "Buttons"  value = "-" name = "SubmitButton">

                  <input type = "button"class = "Buttons"  onclick = "uitleggen()" value = "Meningen" >

             <input type = "button" class = "buttons" onsubmit = "Start"  onclick = "SendAnswer()"/> 
                  
               @* Party standpoints, made visible once started and show when pressed 'Meningen'*@   
            </div>
            </form>
                <div class = "mening" id = "meningen" style:visibility:hidden;>
                                      
                     <p>PVV</p>
                     <p id = "PVVP">punt</p>
                     <p id = "PVVM" >mening</p>

                     <p>SP</p>
                     <p id = "SPP">punt</p>
                     <p id = "SPM">mening</p>

                     <p>D66</p>
                     <p id = "D66P">punt</p>
                     <p id = "D66M">mening</p>

                     <p>CU</p>
                     <p id = "CUP" >punt</p>
                     <p id = "CUM">mening</p>
                 </div>
    </div>





